<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Explore Cairns</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="discription" content="Explore Cairns with Rachel Spencer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:ital@0;1&family=Noto+Serif+Georgian:wght@200;300;500&family=Space+Mono&family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <div class="bg-container">
        <div class="textContainer">
            <div class="banner">
                <h1>Explore Cairns</h1>
                <h2>Travelling to Cairns, Australia?</h2>
                <h2>This site comes pre-loaded with activities, dining suggestions, and some Australian must-tries to help you plan your vacation.</h2>
            </div>
            <ul>
                <li class="button"><a href="/activities">Activities</a></li>
                <li class="button"><a href="/food_and_bev">Food & Bev</a></li>
                <li class="button"><a href="/must_tries">Must-Tries</a></li>
            </ul>  
        </div>
    </div>
    
    <script src="main.js" type="module" defer></script>
    <script>
        const isDevelopment = <%= isDevelopment %>;
    </script>
</body>
</html>